<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/efff5d0f-f8c3-4db8-b084-975b860f56e6/resourceGroups/ContainerManagement-SE/providers/Microsoft.Web/sites/MarskLine</ResourceId>
    <ResourceGroup>ContainerManagement-SE</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://marskline.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>marskline.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MarskLine</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MarskLine</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:server-contain-se.database.windows.net,1433;Initial Catalog=DB-ContainerManagement-SE;User ID=meishean;Password=Shean*411" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MaerskLine.Models.ApplicationDbContext, MaerskLine" MigrationConfiguration="MaerskLine.Migrations.Configuration, MaerskLine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:server-contain-se.database.windows.net,1433;Initial Catalog=DB-ContainerManagement-SE;User ID=meishean;Password=Shean*411</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>